@import url('theme-blessed1.css?z=1544723263028');


.sticky,
.gallery-caption,
.bypostauthor {
  font-size: inherit; }

.wrapper#wrapper-sticky {
  border-bottom: 1px solid #dee2e6; }

#wrapper-footer-full,
#wrapper-static-hero {
  background-color: #e9ecef; }

.wp-caption {
  font-size: inherit; }

.wp-caption-text {
  font-size: inherit; }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.entry-footer span {
  padding-right: 10px; }

img.wp-post-image,
article img,
figure,
img,
#secondary img {
  max-width: 100%;
  height: auto; }

a.skip-link {
  position: fixed;
  z-index: 1000;
  top: 0px;
  right: 0px; }

.jumbotron {
  margin-bottom: 0px; }

.navbar-dark .navbar-nav .dropdown-menu .nav-link {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529 !important;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0; }
  .navbar-dark .navbar-nav .dropdown-menu .nav-link:hover, .navbar-dark .navbar-nav .dropdown-menu .nav-link:focus {
    color: #16181b !important;
    text-decoration: none;
    background-color: #f8f9fa; }
  .navbar-dark .navbar-nav .dropdown-menu .nav-link.active, .navbar-dark .navbar-nav .dropdown-menu .nav-link:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #333; }
  .navbar-dark .navbar-nav .dropdown-menu .nav-link.disabled, .navbar-dark .navbar-nav .dropdown-menu .nav-link:disabled {
    color: #6c757d !important;
    background-color: transparent; }

.navbar-light .navbar-brand a {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand a:hover, .navbar-light .navbar-brand a:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand a {
  color: #fff; }
  .navbar-dark .navbar-brand a:hover, .navbar-dark .navbar-brand a:focus {
    color: #fff; }

.navbar h1 {
  font-weight: 400; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body, body p {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif; }

a {
  text-decoration: underline; }

.smol {
  font-size: .9rem; }

h4, .navbar-brand {
  font-family: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.navbar-brand {
  font-size: 2rem; }

h1, h2, h3, h5 {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-weight: 800; }

h5 {
  font-size: 1rem; }

.privacy-top-notice {
  padding: 1rem 0; }

.bg-primary, .bg-primary a {
  color: #fff; }

.wrapper {
  padding: 0; }

.navbar {
  padding: 2rem 1rem; }
  .navbar .container {
    padding: 0; }

.nav-link {
  padding: 0; }

.navbar-expand-md .navbar-nav .nav-link {
  color: #333;
  text-transform: lowercase; }

.nav-item {
  padding: .5rem 0; }
  .nav-item:last-of-type {
    padding-right: 0; }

.main-select-form-container {
  padding: 2rem 0; }

.main-select-form {
  font-size: 2rem;
  line-height: 4rem;
  font-family: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

a.relationship {
  color: #807f7f;
  text-decoration: none; }

a.relationship.selected {
  color: #fff; }

.reporting-module-container {
  background-color: #f1f1f1;
  padding: 0 0 3rem;
  overflow: hidden; }
  .reporting-module-container .open-more {
    z-index: 999;
    display: block;
    position: absolute;
    margin: 6rem auto;
    left: 50%;
    margin-left: -87px;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 5px; }
  .reporting-module-container .reporting-module {
    padding-top: 3rem; }
    .reporting-module-container .reporting-module h2 {
      margin-top: 0; }
    .reporting-module-container .reporting-module span.wpcf7-list-item {
      margin: 0; }
  .reporting-module-container .reporting-module-gradient {
    background-image: linear-gradient(to bottom, #ffffff00, #ffffffa6, white);
    width: 100%;
    content: " ";
    height: 10rem;
    background-color: transparent;
    position: absolute;
    z-index: 99; }
  .reporting-module-container .privacy-notice p {
    float: right;
    width: 85%; }

select {
  border: 0;
  border-bottom: 3px solid;
  background: transparent;
  border-radius: 0px;
  -webkit-appearance: none;
  height: 3.5rem; }

.main-select-form select {
  color: #fff;
  border-bottom: 3px solid #fff;
  background-image: url("../img/triangle.svg");
  background-repeat: no-repeat;
  background-position: right 32px;
  padding-right: 20px; }

.wpcf7-submit {
  background-color: #6f42c1;
  font-family: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

.solutions-container {
  padding: 0;
  margin-top: 3rem; }

.solution .entry-header {
  padding: 3rem; }
  .solution .entry-header h2 {
    margin: 0; }

.solution .entry-content {
  padding: 3rem; }

.solution .privacy-level {
  text-align: center;
  line-height: 1; }
  .solution .privacy-level div {
    margin-top: 10px; }

#content .entry-content {
  margin-bottom: 3rem; }

#content .entry-footer {
  margin-bottom: -10rem; }

#wrapper-footer {
  margin-top: 9rem; }
  #wrapper-footer .author-logo {
    margin-top: 3rem;
    margin-bottom: 5rem; }
  #wrapper-footer .container .row {
    padding: 10rem 0 6rem; }
  #wrapper-footer:before {
    background-image: url("../img/footer-top.svg");
    background-repeat: no-repeat;
    background-position: top center;
    width: 100%;
    content: " ";
    position: absolute;
    height: 78px;
    margin-top: -61px;
    background-color: transparent; }

.page h1 {
  margin: 3rem 0; }

.page h2 {
  margin: 2rem 0 1.5rem; }

.page h3 {
  margin: 2rem 0 1rem; }

.wp-block-image figcaption {
  color: #333; }

.front-ilustration-01 {
  margin-top: -6rem;
  z-index: -99; }

.front-ilustration-02 {
  text-align: center; }

.wpcf7 input[type="submit"] {
  background:   #6f42c1 !important;
  border-radius:  3px;
  color:   #fff;
  box-shadow:  0px 3px  #484848; }

@media (min-width: 576px) {
  .nav-item {
    padding: 0 2rem; } }

@media (min-width: 600px) {
  .wp-block-column:last-child {
    margin-right: 0 !important; } }

option {
  background: #333;
  background-color: #333; }

/*
* Use existing Bootstrap 4 classes and
* variables to extend - override CF7 style
*
* Useful CF7 classes:
* .wpcf7 the wrapper element
* .wpcf7-form
* .wpcf7-form-control
* .wpcf7-text
* .wpcf7-email
* .wpcf7-textarea
* .wpcf7-submit
*/
.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important; }
  .wpcf7 .wpcf7-form label {
    width: 100%; }
  .wpcf7 .wpcf7-not-valid-tip {
    color: #dc3545; }
  .wpcf7 .wpcf7-validation-errors {
    color: #dc3545;
    border: 1px solid #e9ecef; }