// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

//development
.red {
	background-color:red;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body, body p {
	font-family: $font-family-base;
}

a {
	text-decoration:underline;
}

.smol {
	font-size: .9rem;
}

h4, .navbar-brand {
	font-family: $font-family-monospace;
}

.navbar-brand {
	font-size: 2rem;
}

h1, h2, h3, h5 {
	font-family: $font-family-base;
	font-weight:800;
}

h5 {
	font-size:$font-size-base;
}

.privacy-top-notice {
	padding: 1rem 0;
}

.bg-primary, .bg-primary a {
	color:$white;
}

.wrapper {
	padding:0;
}

.navbar {
	padding: 2rem 1rem;

	.container {
		padding: 0;
	}
}

.nav-link {padding:0;}

.navbar-expand-md .navbar-nav .nav-link {
	color:$primary;
	text-transform:lowercase;
}

.nav-item {
	padding: .5rem 0;

	&:last-of-type {
		padding-right: 0;
	}
}

.main-select-form-container {
	padding: 2rem 0;
}

.main-select-form {
	font-size: 2rem;
    line-height: 4rem;
	font-family: $font-family-monospace;
}

.reporting-module-container {
	background-color: #FDFDFD;
	padding: 0 0 3rem;

	.reporting-module {
		padding-top: 3rem;
	}
}

select {
	border: 0;
    border-bottom: 3px solid;
    background: transparent;
    border-radius: 0px;
    -webkit-appearance: none;
    height: 3.5rem;
}

.main-select-form select{
	color: $white;
	border-bottom: 3px solid $white;
}

.wpcf7-submit {
	background-color: $purple;
	font-family: $font-family-monospace;
}

.solutions-container {
	padding:0;
	margin-top: 3rem;
}

.solution {

	.entry-header {
		padding: 3rem;
	}

	.entry-content {
		padding: 3rem;
	}
}

#content {
	.entry-content {
	
		margin-bottom: 3rem;
	}

	.entry-footer {
		margin-bottom: -10rem;
	}
}

#wrapper-footer {
	margin-top: 9rem;

	.container {
		padding:10rem 0 6rem;
	}

	&:before {
		background-image:url("../img/footer-top.svg");
		background-repeat: no-repeat;
	    background-position: top center;
	    width: 100%;
	    content: " ";
	    position: absolute;
	    height: 78px;
	    margin-top: -61px;
    	background-color: transparent;
	}
}

.page {
	h1 {
		margin: 3rem 0;
	}

	h2 {
		margin: 2rem 0 1.5rem;
	}

	h3 {
		margin: 2rem 0 1rem;
	}
}

// illustrations on the front page
.front-ilustration-01 {
	margin-top:-6rem;
	z-index: -99;
}

.front-ilustration-02 {
	text-align:center;

}

//non mobile overrides

@include media-breakpoint-up(sm) { // sm(mobile) and larger
	.nav-item {
		padding: 0 2rem;
	}
}






















